@media screen and (max-width: 688px) {
    .world-cup-banner {
        grid-template-columns: 1fr;
        margin: 10px;
    }

    .marcelo {
        margin-top: 10px;
        padding: 0 10px;
    }

    nav>ul {
        flex-direction: column;
    }


    .transfer-news-container {
        grid-template-columns: 1fr;
        margin-left: 0px;
        margin: 10px;

    }

    .transfer-news {
        grid-template-columns: 1fr;
    }

    .news-detail {
        padding-left: 0;
    }

    .aside-container {
        background-color: transparent;
        border: none;
        margin-right: 50%;
    }

}

@media screen and (max-width: 992px) and (min-width: 688px) {
    .world-cup-banner {
        grid-template-columns: 1fr;
        margin: 10px;
    }

    .marcelo {
        margin-top: 10px;
        padding: 0px 20px;
    }

    .aside-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40%;
        background-color: transparent;
        height: 100%;
        align-items: center;
    }

    .transfer-news-container {
        grid-template-columns: 1fr;
        margin-left: 0px;
        margin: 10px;
        align-items: center;
    }

    .transfer-news {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }

    .btn-1 {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .btn-2 {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .view-all {
        visibility: visible;
        width: 22%;
        padding: 10px;
        margin: 35px;
        margin-left: 280px;
        background-color: rgb(250, 40, 20);
        border: none;
    }

    .view-text {
        color: aliceblue;
        font-size: 25px;
    }

}